
<form  #myForm="ngForm"(ngSubmit)="miFuncion()">
    <h1>Template-Form - Buscar País</h1>
    <div class="template-form">
        <label for="nombre" > Nombre del País</label>
        <input 
        #nombre = "ngModel" 
        type ='text' 
        class="form-control"
        [(ngModel)]="form.name" 
        name = "nombre"  
        placeholder = "Ingrese el nombre del país" 
        required 
        [ngClass] = "{ 'is-valid': !nombre.invalid, 'is-invalid': nombre.invalid}" >

        <div class="invalid-feedback" *ngIf= "nombre.invalid && (nombre.dirty  || nombre.touched)">

            <div class= "validar" *ngIf= "nombre.errors">
                Este campo es requerido
            </div>
        </div>

        <label for="capital"> Capital  </label>
        <input 
        #capital = "ngModel" 
        type ='text' 
        class="form-control"
        placeholder="Ingrese el nombre de la capital" 
        [(ngModel)]= "form.capital" 
        name = "capital" 
        required
        [ngClass] = "{ 'is-valid': !capital.invalid, 'is-invalid': capital.invalid}">

        <div class="invalid-feedback" *ngIf= "capital.invalid && (capital.dirty  || capital.touched)">

            <div  class="validar"  *ngIf= "capital.errors">
                Este campo es requerido
            </div>
        </div>

        <button [disabled]="!myForm.valid" type="submit">Consultar </button>
    </div> 
</form>

<ul>
    <h1> Nombre Pais y su capital</h1>
    <li *ngFor="let country of countries" >
        {{country.name}} - 
        {{country.capital}}
    </li>
</ul>