<form class="reactive-form">
    <h1>Reactive Form - Buscar País</h1>
    
    <div class="template-form">
        <label for="nombre"> Nombre del País</label>
        <input 
        class="form-control" 
        required 
        type ='text'
        name="nombre" 
        placeholder = "Ingrese el nombre del país"
        [ngClass]="{'is-invalid': control.invalid, 'is-valid': !control.invalid}" 
        [formControl] = 'control' >
        <p>
            <small class="validar"  *ngIf="control.hasError('required') && control.dirty"> Este campo es requerido </small>
        </p>
        <label for="capital"> Capital  </label>
        <input 
        class="form-control" 
        required type ='text' 
        name="capital" 
        placeholder = "Ingrese el nombre de la capital" 
        [ngClass]="{'is-invalid': control2.invalid, 'is-valid': !control2.invalid}"  
        [formControl] = 'control2'>
        <p>
            <small  class="validar" *ngIf="control2.hasError('required') && control.dirty"> Este campo es requerido </small>
        </p>
        <button [disabled]="control.invalid" class="button" type="submit" (click)= 'getControl($event)'> Consultar </button>
    </div>
</form>

